
{{ 'menu-departments.css' |  asset_url | stylesheet_tag}}


<nav class="category-menu">
  <div class="menu-first-level">
    {% for link in menu %}
      <div class="wrapper-menu-first-level">
        <a
          class=""
          href="{{ link.url }}"
          title="{{ link.title }}"
        >
          {{ link.title -}}

          {% comment %} {% if link.links.size > 0 %} {% endcomment %}
           {{ 'ico-arrow-d-b.svg' | inline_asset_content }}
          {% comment %} {% endif %} {% endcomment %}
        </a>
        {% if link.links.size > 0 %}
          <ul class="menu-second-level">
            {% for subLink in link.links %}
              <li>
                <a
                  href="{{ subLink.url }}"
                  class=""
                  title="{{ subLink.title  }}"
                >
                  {{- subLink.title -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</nav>
